@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Oswald:wght@600;700&display=swap');

:root {
    --puce_pink: #D8839E;
    --gunmetal: #212A30;
    --honolulu_blue: #197BBD;
    --floral_white: #FEF8EC;
}


/* header styling */
header {
    padding: 10px;
    background-color: var(--gunmetal);
    display: flex;
    align-items: center;
}
header * {
    display: inline;
}
header a:link {
    color: white;
}
header a:visited {
    color: white;
}
header #currentPage {
    color: var(--honolulu_blue);
}
header li {
    font-family: 'Lora', serif;
    font-weight: 400;
    margin: 4px 10px;
}
header p {
    font-size: larger;
    color: white;
    font-family: 'Lora', sans-serif;
}
header img {
    height: 45px;
    width: 45px;
}
#ad {
    padding: 0px;
}

/* cross-page styling */
body {
    background-color: var(--floral_white);
}


/* PRODUCTS SECTION!!! */

   
/* products section styling home page*/
.btn:hover {
    background-color: #212A30;
    color: #fff;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #212A30;
    text-decoration:underline;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btnshopnow {
    
}

/* newsletter to insert email */

form {
    border: 3px solid #f1f1f1;
    font-family: 'Lora', serif;
  }
  
  .container {
    padding: 20px;
    background-color: floralwhite;
  }
  
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .input[type=text] {
    color: #212A30;
  }
  
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  input[type=submit] {
    background-color:#D8839E;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }


/* header containers & animation */ 

.w3-container {
    display: flex;
    background-color: #44545F;
    
}
.w3-container p {
    margin: auto;
    width: 50%;
    text-align: center;
}

.w3-container2 {
    display: flex;
    background-color: #44545F;
}
.w3-container2 p {
    margin: auto;
    width: 50%;
    text-align: center;
}

.search {
   float: right;
}
.search input {
    padding: 5px;
}

#country {
    width: auto;
    height: 29px;
}

.homepage h2, p {
    text-align: center;
}

 /* products section */ 

.products {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.products h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.product-card {
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.categories {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}
.categories a {
    width: auto;
    /* height: fit-content; */
}
.categories img {
    width: 350px;
}
/* .categories img {
    
} */

 /* footers and banners */

 .banner-categories {
    background-color: #212A30;
    color: #fff;
    height: 60px;
    align-content: center;
 }
 .banner-categories * {
    margin: 0 auto;
 }

.info {
    background-color: #44545F;
    color: #fff;
}

.info p {
    background-color: #212A30;
}

  /* CONTACT PAGE!!! */

.container{
    width: 80%;
    margin: 60px auto;
    justify-content: space-between;
}
.contact-box{
    display:flex;
    background: #FEF8EC;
}
.box-left{
    flex-basis: 60%;
    padding: 40px 60px;

}

.box-right{
    flex-basis: 40%;
    padding: 40px;
    background: #d8839e;
    color: #fff;
}
.row .input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    resize: vertical;
}

input[type=submit]:hover {
    background-color: #000;
    color:#fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer{
    background-color: #fff;
    
}

