@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Oswald:wght@600;700&display=swap');

:root {
    --puce_pink: #D8839E;
    --gunmental: #212A30;
    --honolulu_blue: #197BBD;
    --floral_white: #FEF8EC;
}

header li {
    font-family: 'Lora', serif;
    font-weight: 400;
    display: inline;
    margin: 4px 10px;
}

header p {
    display: inlne;
    /* font-size: ; */
}

body {
    background-color: var(--floral_white);

}

.btn:hover {
    background-color: #212A30;
    color: #fff;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #fff;
    color: #212A30;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
